/.env
logs/
logs/*
keyfile.json
pipeline
__pycache__/
# Terraform
**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Docker
**/node_modules/
**/.env
**/.venv

credentials.json
keyfile.json
